.questions {
  display: none;
  padding: 30px 30px 40px 100px;
  background: radial-gradient(ellipse, #452673, #8968CD);
  border-radius: 20px;
  color: #4D2E19;
  margin-bottom: 3em;
  border: 2px solid #473C8B;
  box-shadow: 10px 10px 5px #42426F;
}
#tokyo , #dublin , #barbados , #quebec , #rovaniemi {
  display: none;
}
.jumbotron{
  border-radius: 1.5em !important;
  text-align: center;
  margin-top: 2.5em;
  background: radial-gradient(ellipse, #452673, #8968CD);
  color: #4D2E19;
  border: 2px solid #473C8B;
  box-shadow: 10px 10px 5px #42426F;

}
.jumbotron img{
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 3em;
}
.jumbotron h2 {
  padding-bottom: 2em;
}
body {
  background-color: #996633;
}
.questions p {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
}
.btn:focus {
  outline: none !important;
  background-color: #BEBEBE;
  color: #575757;
}
.btn {
  color: #737373;
}
.btn:hover{
  background-color: #1487B8;
  color: #8F9DA3
  outline: none;
}
#tokyo{
  text-align: center;
  background-color: #8B0000;
  color: #FFC1C1;
  font-family: fantasy;
  border-radius: 1.5em;
  padding: 5em 5em 5em 5em;
  margin-bottom: 2em;
  border: 2px solid #660000;
  box-shadow: 10px 10px 5px #AD8591;
}
#tokyo img{
  max-width: 700px;
}
#tokyo p {
  font-size: 1.5em;
  padding-top: 2.5em;
}
#tokyo h1 {
  font-weight: bold;
  font-size: 5em;
}
#dublin{
  text-align: center;
  background-color: #397D02;
  color: #FF9933;
  font-family: "Lucida Console";
  border-radius: 1.5em;
  padding: 5em 5em 5em 5em;
  margin-bottom: 2em;
  border: 2px solid #324F17;
  box-shadow: 10px 10px 5px #C2660A;
}
#dublin img{
  max-width: 700px;
}
#dublin p {
  font-size: 1.5em;
  padding-top: 2.5em;
}
#dublin h1 {
  font-weight: bold;
  font-size: 5em;
}
#rovaniemi{
  text-align: center;
  background-color: #3063A5;
  color: #E0E0EB;
  font-family: cursive;
  border-radius: 1.5em;
  padding: 5em 5em 5em 5em;
  margin-bottom: 2em;
  border: 2px solid #003F87;
  box-shadow: 10px 10px 5px #104E8B;
}
#rovaniemi img{
  max-width: 700px;
}
#rovaniemi p {
  font-size: 1.5em;
  padding-top: 2.5em;
}
#rovaniemi h1 {
  font-weight: bold;
  font-size: 5em;
}
#quebec{
  text-align: center;
  background-color: #EEE9E9;
  color: #BE2625;
  font-family: "Times New Roman";
  border-radius: 1.5em;
  padding: 5em 5em 5em 5em;
  margin-bottom: 2em;
  border: 2px solid #660000;
  box-shadow: 10px 10px 5px #821722;
}
#quebec img{
  max-width: 700px;
}
#quebec p {
  font-size: 1.5em;
  padding-top: 2.5em;
}
#quebec h1 {
  font-weight: bold;
  font-size: 5em;
}
#barbados{
  text-align: center;
  background-color: #EEAD0E;
  color: #0D4F8B;
  font-family: "Comic Sans MS";
  border-radius: 1.5em;
  padding: 5em 5em 5em 5em;
  margin-bottom: 2em;
  border: 2px solid #997A00;
  box-shadow: 10px 10px 5px #52527A;
}
#barbados img{
  max-width: 700px;
}
#barbados p {
  font-size: 1.5em;
  padding-top: 2.5em;
}
#barbados h1 {
  font-weight: bold;
  font-size: 5em;
}
.endbtn {
  font-family: sans-serif;
}
